//BASE CSS
@import "url";
@import "responsive";

//SHOURT CUT VARİABLES
$general-text: "DM Sans", sans-serif;
$link-hover-color: #878787;
// $bg-twitter: rgb(255 255 255 / 3%);
$animation-text-bg: #333333;
$pink-bg: #ffc5f6;
$table-bg: #272727; 
$orange-bg: #fdbc45;
$green-bg: #77e3af; 
$light-bg: #fafafa;
$footer-bg: rgb(39, 39, 39);
$light-border: rgb(243, 243, 243);
$footer-link-color: rgb(207, 207, 207);

//GENERAL SETTİNGS
* {
  font-family: $general-text;
}

.dark {
  background-color: #191919 !important;
  color: #fff !important;
  transition: all .6s;

  i {   
    color: #000;
  }

  h1,h2,h3,h4,h5,h6 {
    color: #fff !important;
  }

  a {
    color: #fff !important;

    &:hover {
      color: #000 !important;
    }
  }

  .main-nav-btn a:last-child {
    border: 2px solid #fff;
    
    &:hover {
      color: #000 !important; 
      background-color: #fff !important;
    }
  }

  .main-about-col {
    p {
      color: #fafafa !important;
    }

    span {
      color: #fafafa !important;
      border: 2px solid #fff !important;
    }
  } 
  
  .company-parters-header {
    p {
      color: #fafafa !important;
    }
  } 

  .company-partners-col {
    img {
      opacity: 100% !important;
      border: 2px solid #fff;
      background-color: #f2f2f2;
      border-radius: 10px;
      padding: .5rem;
    }
  }

  .sss-col-content,.coinup-sss-header {
    p {
      color: #fafafa !important;
    }
  } 

  .assitance-help-header {
    p {
      color: #fafafa;
    }
  }
}

html,body {
  width: 100% !important;
  height: 100% !important;
}

//!SITE COLOR THEME MODE
.theme {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f1f1f1;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  cursor: pointer;
  z-index: 5;

  .ball {
    background-color: #0f0f0f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    transition: all .6s;
  }
}

.mode .ball {
  left: 55%;
}

//! NAVBAR
.dark .main-nav {
  background-color: #000;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 8;

  .main-nav-row {

    a {
      text-decoration: none;
      color: #000;
      font-weight: 500;
      transition: all 0.4s;
    }

    .main-nav-links {
      a:hover {
        color: $link-hover-color;
      }
    }

    .main-nav-logo {
      user-select: none;

      img {
        height: 30px;
      }

      figcaption {
        font-weight: 700;
        font-size: 22px;
      }
    }

    .main-nav-btn {
      a {
        padding: 10px 14px;
        border-radius: 10px;
      }

      a:first-child {
        border: 2px solid $light-border;

        &:hover {
          background-color: $light-bg;
        }
      }

      a:nth-child(2) {
        background-color: #000;
        color: #fff;
        border: 2px solid;

        &:hover {
          background-color: lighten(#000, 20%);
        }
      }

      a:last-child {
        display: none;
        background-color: #fafafa;
        border: 1px solid #000;
        margin-right: 10px;
      }
    }
  }
}

.responsive-link {
  display: none;
}

//! MAİN HOME
.main-home-container {
  background-color: $light-bg;
  border: 1px solid $light-border;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 4rem !important;

  .main-home-row {
    .main-home-header {
      h1 {
        color: #0f0f0f !important;
        font-size: 72px;
        font-weight: 500;
      }

      p {
        color: #4b4b4b;
      }
    }

    .main-home-click {
      position: relative;
      height: 150px;
      display: flex;
      justify-content: center;

      .main-home-left-img {
        position: absolute;
        left: 50px;
        width: 25%;
        height: 100%;
        display: flex;

        img:last-child {
          position: absolute;
          right: 45px;
          bottom: 33px;
        }
      }

      .main-home-right-img {
        position: absolute;
        right: 0px;
        width: 25%;
        height: 100%;
        display: flex;

        img:first-child {
          position: absolute;
          left: 0px;
          bottom: 40px;
        }

        img:last-child {
          position: absolute;
          left: 80px;
        }
      }

      a {
        padding: 14px 14px;
        border-radius: 10px;
        transition: all 0.4s;
        font-weight: 500;

        &:first-child {
          background-color: #000;
          color: #fff !important;
          border: 2px solid #000;

          &:hover {
            background: lighten(#000, 20%);
          }
        }

        &:last-child {
          background-color: #fff;
          border: 2px solid $light-border;
          color: #0f0f0f !important;

          &:hover {
            background-color: $light-bg;
            border: 2px solid darken($light-border, 10%);
          }
        }
      }
    }
  }

  .main-home-apps {
    height: 360px;
    position: relative;

    .main-home-apps-col {
      overflow: hidden;
      z-index: 1;
    }

    .main-home-apps-col:first-child {
      img {
        width: 100%;
        height: 600px;
        margin-top: 3rem;
      }
    }

    .main-home-apps-col:nth-child(2) {
      img {
        width: 100%;
        height: 715px;
      }
    }

    .main-home-apps-col:last-child {
      img {
        width: 100%;
        height: 650px;
        margin-top: 2.5rem;
        object-fit: cover;
      }
    }
  }

  .main-home-apps-bg {
    background-color: rgb(253, 188, 69);
    width: 100%;
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/small-coins.svg);
    background-repeat: repeat;
    background-position: left top;
    background-size: 35.88px auto;
  }

  .main-home-animate {
    background-color: $animation-text-bg;
    color: #fff;
    width: 4000px;
    height: 50px;
    border-radius: 0px 0px 20px 20px;

    .home-animate-text {
      display: flex;
      align-items: center;
      gap: 1rem;
      animation: apps 12s infinite linear;
    }

    @keyframes apps {
      to {
        transform: translateX(-1000px);
      }
    }

    p {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.12px;
      margin-top: 1rem;
    }
  }

  .stick {
    background-color: rgb(75, 75, 75);
    width: 20px;
    height: 4px;
    border-radius: 30px;
  }
}

//! FEATURES GROUP
.features-group {
  margin: 10rem 0;
  margin-bottom: 0;

  .features-group-container {
    .features-group-header {
      margin-left: 10rem;

      h2 {
        color: #0f0f0f;
        font-size: 52px;
        font-weight: 500;
      }
    }

    .features-group-row {
      gap: 28px;
      flex-wrap: wrap;

      .features-group-col {
        background-color: $light-bg;
        padding: 32px;
        padding-bottom: 0;
        border: 1px solid $light-border;
        border-radius: 24px;
        height: 100%;

        .features-group-content {
          width: 100%;

          h3 {
            color: #0f0f0f !important;
            font-weight: 500;
          }

          img {
            height: 250px;
            padding: 0rem 2rem;
          }

          p {
            color: #4b4b4b;
          }
        }
      }
    }

    .features-group-row-center {
      flex-wrap: wrap;

      .features-group-col {
        background-color: $light-bg;
        border: 1px solid $light-border;
        border-radius: 24px;
        padding: 32px;
        padding-bottom: 0;

        .features-group-content {
          .features-ticket {
            background-color: $pink-bg;
            display: inline;
            padding: 8px 12px;
            border-radius: 30px;

            span {
              color: #0f0f0f;
              font-size: 12px;
              font-weight: 500;
            }
          }

          h3 {
            color: #0f0f0f !important;
            font-weight: 500;
          }

          p {
            color: #4b4b4b;
          }
        }

        &:first-child {
          width: 790px;
          position: relative;
          overflow: hidden;

          img {
            position: absolute;
            bottom: -100px;
            height: 350px;
          }
        }
      }
    }

    .features-pink {
      margin: 0 10rem;

      .features-pink-row {
        background-color: $pink-bg;
        margin-bottom: 1rem;
        padding: 40px 80px 48px 40px;
        border-radius: 24px;
        position: relative;
        overflow: hidden;

        .features-pink-col {
          color: #0f0f0f;

          header {
            h2 {
              font-size: 40px;
              font-weight: 500;
            }
          }

          a {
            background-color: #0f0f0f;
            color: #fff !important;
            text-decoration: none;
            padding: 12px 20px;
            border-radius: 10px;
            transition: all 0.5s;

            &:hover {
              background-color: lighten(#0f0f0f, 20%);
            }
          }
        }

        .pink-img-two {
          position: absolute;
          right: 105px;
          top: 30px;
          user-select: none;

          img {
            height: 300px;
          }
        }

        .features-pink-img {
          position: absolute;
          right: -90px;
          top: -150px;
          user-select: none;
        }
      }
    }
  }
}
 
//! BEST COİN STATUS
.coins-statuses-container {
  background-color: $table-bg;
  border-radius: 24px;

  .coins-statuses-row {
    .statuses-animation {
      user-select: none;

      img {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 14px;
        border-radius: 12px;
        border: 1px solid $light-border;
        animation: support-contact 2s infinite ease-out;

        &:nth-child(2) {
          background-color: rgba(0, 0, 0, 0.8);
          animation: support-contact-center 1.6s infinite ease-in;

          @keyframes support-contact-center {
            to {
              scale: 0.8;
            }
          }
        }

        @keyframes support-contact {
          to {
            scale: 0.8;
          }
        }
      }
    }

    .statuses-header {
      h2 {
        color: #fff;
        font-size: 52px;
        font-weight: 500;
      }

      p { 
        color: #cfcfcf;
      }
    }
  }

  .coins-statuses-table {
    overflow: auto;

    table {
      width: 85%;
      margin: auto; 
      appearance: none;
 
      th{
        border: none;
        padding: 32px 32px 24px;
        color: #878787;
        background-color: #FFFFFF08;
        font-weight: 500;
      }

      td {
        border: none;
        padding: 18px 32px;
      }

      .only {

        td {
          background-color: rgb(57, 57, 57);
          color: #fff;
        }
      }

      .duo {
        
        td {
          background-color: #FFFFFF08;
          color: #fff;
        }
      }

      .safe-tick {
        background-color: rgba(76, 235, 159, .15);
        border-radius: 50%;
        padding: .6rem;
        width: 35px;
        height: 35px;
        object-fit: cover;
      }

      .close-tick {
        background-color: rgba(255, 255, 255, .1);
        border-radius: 50%;
        padding: .6rem;
        width: 35px;
        height: 35px;
        object-fit: cover;
      }
    }
  }
}

//! MAİN ABOUT
.main-about-container {

  .main-about-row {
    
    .main-about-col {
      margin: 0 2.5rem;

      article {
        background-image: url(../img/small-coins.svg);
        background-color: $orange-bg;
        width: 480px;
        height: 450px;
        border-radius: 24px;
        background-size: 35.88px auto;
        overflow: hidden;
        text-align: center;

        img {
          width: 80%;
          height: auto;
          margin-top: 3rem;
          object-fit: cover;
          user-select: none;
          pointer-events: none;
        }
      }

      span {
        font-size: 12px;
        font-weight: 500;
        color: #0f0f0f;
        padding: 6px 12px;;
        border: 1px solid rgb(15, 15, 15);
        border-radius: 100px;
      }

      h2 {
        color: #0f0f0f;
        font-size: 52px;
        font-weight: 500;
      }

      p {
        color: #4b4b4b;
      }
    }
  }
}

//! MAİN ABOUT İNFO
.about-info {

  .about-info-container {
    margin: 0 10rem;

    .about-info-row {
      background-color: #fafafa;
      border: 1px solid #f3f3f3;
      border-radius: 16px;
      padding: 40px;
      padding-right: 0;
    }

    .about-info-content {

      h3 {
        font-size: 20px;
        font-weight: 500;
        color: #0f0f0f !important;
      }

      p {
        color: #4b4b4b;

      }
    }
  }
}

// COİNS ANİMATİON 
.coins-animation-container {
  background-color: #fafafa;
  border: 1px solid #f3f3f3;
  border-radius: 24px;
  padding: 80px 0 0;
  overflow: hidden;

  .coins-animation-header {
 
    h2 {
      color: #0f0f0f !important;
      font-size: 52px;
      font-weight: 500;
    }

    p {
      color:#4b4b4b;
    }
  }

  .coins-animation-row {
    position: relative;
    mask-image:  linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 17.5%, rgb(0, 0, 0) 82.5%, rgba(0, 0, 0, 0) 100%);;
    z-index: 1;

    .coins-animation-col {
      overflow: hidden;

      .coins-animation-animate {
        display: flex;
        gap: 28px;
        overflow: hidden;
        width: 2000px;

        .coins-animate-wrapper {
          background-color: #fff;
          padding: 24px 80px 24px 12px;
          border: 1px solid rgb(243,243,243);
          border-radius: 16px;
          display: flex;
          gap: 1rem;
          align-items: center;
          text-align: left;

          .coins-animate-content {
            width: 100%;
            white-space: nowrap;
            
            figcaption {
              color: #0f0f0f;
            }

            span {
              color: #878787;
            }
          }
        }
      }
    }

    .coins-animation-one {
      animation: animation-one 12s infinite linear;

      @keyframes animation-one {
        0% {
          transform: translateX(0px);
        }

        100% {
          transform: translateX(-500px);
        }
      }
    }

    .coins-animation-two {
      animation: animation-two 12s infinite linear;

      @keyframes animation-two {
        0% {
          transform: translateX(-500px);
        }

        100% {
          transform: translateX(0px);
        }
      }
    }
  }

  .coins-animation-circle {
    position: relative;
    user-select: none;
    scale: 1.2;
 
    img:first-child {
      object-fit: cover;
    }

    .animation-circle-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      figure {
        color: #0f0f0f;
        font-size: 33px;
        font-weight: 500;
      }
    }
  }
}

//COİNS CRYPTO İNVESTMENS
.crypto-investments {
  margin: 10rem;

  .crypto-investments-header {

    h2 {
      color: #0f0f0f;
      font-size: 52px;
      font-weight: 500;
    }
  }

  .crypyo-investments-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    .crypyo-investments-col {
      background-color: $light-bg;
      border: 1px solid $light-border;
      border-radius: 24px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;

      header {
        color: #0f0f0f;
        font-size: 28px;
        font-weight: 500;
        align-self: flex-start;
        line-height: 1;
      }

      p {
        color: #4b4b4b;
      }

      img {
        margin-top: .6rem;
      }
    }
  }
  
  .crypto-investmens-orange {
    background-color: $orange-bg;
    border-radius: 24px;
    padding: 40px 80px 48px 40px;
    overflow: hidden;

    .crypto-investmens-orange-col:first-child {

      header {
        color: #0f0f0f;
        font-size: 40px;
        font-weight: 500;
      }

      p {
        color: #0f0f0f;
      }

      a {
        text-decoration: none;
        background-color: #000; 
        color: #fff;
        border-radius: 10px;
        padding: 10px 14px;
        transition: background-color .6s;

        &:hover {
          background-color: #333333;
        }
      }
    }

    .crypto-investmens-orange-col:last-child {
      background-image: url(../img/Investments4.svg);
      background-position: center;
      background-size: cover;
      width: 320px;
      height: 300px;
      user-select: none;
      position: relative;
      
      img {
        position: absolute;
        top: 0;
        left: 0;
        scale: 2;
        height: 350px;
      } 
    }
  }
}

//COMPAMY PARTNERS SPONSOR
.company-parters-header {

  h2 {
    color: #0f0f0f;
    font-size: 52px;
    font-weight: 500;
  }

  p {
    color: #4b4b4b;
  }
}

.company-partners-row {

  .company-partners-col {
  
    img {
      opacity: 50%;
      cursor: pointer;
      transition: all .6s;

      &:hover { 
        opacity: 100%;
      }
    }
  }
}

//SOCİAL TWİTTER COMMENTS
.social-comments-container {
  background-color: #272727;
  padding: 80px 0;
  border-radius: 24px;

  .statuses-animation {

    img {
      animation: support-contact 2s infinite ease-out;
      padding: 14px;
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, .1);
 
      &:first-child, &:last-child {
        background-color: rgb(46, 46, 46);
      }

      &:nth-child(2) {
        background-color: rgb(54, 54, 54);
      }
    }
  }

  .social-comments-title {
    
    h2 {
      color: #fff;
      font-size: 52px;
      font-weight: 500;
    }

    p {
      color: #cfcfcf;
    }
  }

  .social-comment-row {
    flex-wrap: wrap;
    gap: 20px;

    .social-comments-col {
      border: 1px solid rgba(255, 255, 255, .1);
      background-color: rgb(46, 46, 46);
      border-radius: 16px;
      padding: 32px;
      color: #fff;

      span {
        color: #878787;
        font-weight: 400;
      }
    }

    .social-comments-desc {
      
      span {
        color: #878787;
        font-size: 14px;
      }
    }
  }
}

//COINUP SSS 
.coinup-sss {

  .coinup-sss-container {

    .coinup-sss-header {

      h2 {
        color: #0f0f0f;
        font-size: 52px;
        font-weight: 500;
      }

      p {
        color: #4b4b4b;
        font-weight: 400;
      }
    }

    .coinup-sss-row {
      max-width: 660px;
      margin: auto;

      .coinup-sss-col {
        width: 100%;
        border-bottom: 1px solid #f3f3f3;
        border-radius: 16px;
        padding: 1rem 1rem .4rem 1rem; 
        cursor: pointer;

        .sss-col-header {
          padding-bottom: .7rem;
          
            h4 {
              color: #0f0f0f;
              font-size: 20px;
              font-weight: 500;
            }      
            
            a {
              color: #fff;
              background-color: #000;
              font-size: 12px;
              padding: 8px 12px;
              border-radius: 10px;

              &:focus i{
                transform: rotate(45deg);
              }
            }

            i {
              color: #fff;
              transition: all .4s;
            }
        }  

        .sss-col-content {
          display: none; 

          p {
            color: #4b4b4b;
          }
        }
      }

      .dropdown .sss-col-content {
       display: block;
      }
    }
  }
}

//COINUP MOBILE STORES
.coinup-store-container {
  background-color: rgb(250,250,250);
  border: 2px solid rgb(243, 243, 243);
  padding: 80px 0 120px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;

  .coinup-store-header{
    margin-left: 7.5rem;
    
    h2 {
      color: #0f0f0f !important;
      font-size: 52px;
    }
  } 

  .coinup-stores-row  {

    a{
      text-decoration: none;

      h4 {
        color: #0f0f0f !important;
        font-size: 20px;
        font-weight: 500;
      }

      p {
        color: #4b4b4b;
      }
    }

    .coinup-stores-col {
      border: 2px solid rgb(243, 243, 243);
      background-color: #fff;
      border-radius: 24px;
      padding: 32px;
    }
  }
}

.coinup-stores-preview-row {
  background-color: #77e3af;
  border-radius: 24px;
  padding: 40px 0px 48px 40px;
  position: relative;
  overflow: hidden;
  height: 450px;
  margin: 0 7rem;

  .coinup-stores-preview-col {
    margin: 0 2rem;

    h4 {
      color: #0f0f0f !important;
      font-size: 40px;
      font-weight: 500;
    }

    p {
      color: #0f0f0f;
    }

    a {
      text-decoration: none;
    }
  }

  .coinup-stores-preview-col:last-child {
    background-image: url(../img/coinUp-pink-circle.svg);
    background-size: cover;
    background-position: center;
    width: 680px;
    height: 680px;
    position: relative;
    left: 120px;
   
    
    img {
      position: absolute;
      right: 155px;
      top: 205px;
      z-index: 1;
    }
  }
}

.main-home-animate {
  background-color: $animation-text-bg;
  color: #fff;
  width: 4000px;
  height: 50px;
  border-radius: 0px 0px 20px 20px;

  .home-animate-text {
    display: flex;
    align-items: center;
    gap: 1rem;
    animation: apps 12s infinite linear;
  }

  @keyframes apps {
    to {
      transform: translateX(-1000px);
    }
  }

  p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.12px;
    margin-top: 1rem;
  }

  .stick {
    background-color: rgb(75, 75, 75);
    width: 20px;
    height: 4px;
    border-radius: 30px;
  }
}

.coinup-stores-animate{
  position: absolute;
  bottom: 0;
}

//ASSİSTANCE SUPPORTED AND HELPED
.assistance-help{
  margin-top: 10rem;
}

.assitance-help-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    color: #0f0f0f;
    font-size: 52px;
    font-weight: 500;
    margin: 1.5rem 0;
  }

  p {
    color: #4b4b4b;
  }
}

.assistance-help-container {
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 2rem;
  overflow: hidden;

  .assistance-help-row {

    a {
      text-decoration: none;

      h4 {
        color: #0f0f0f !important;
        font-weight: 500;
      }

      p {
        color: #4b4b4b;
      }
    }

    .assistance-help-col {
      padding: 32px;
      border: 1px solid rgb(243, 243, 243);
      background-color: #fafafa;
      border-radius: 24px;
    }
  }

  .assistance-large-row {
    background-color: $pink-bg;
    border-radius: 24px;
    background-image: url(../img/coinUp-pink-circle.svg);    
    background-position: center;
    background-size: cover;
    width: 720px;
    height: 700px;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}  

//FOOTER
.footer-container {
  background-color: #272727;
  border-radius: 24px;
  padding: 64px 0 0;
 
  .footer-row {
    display: flex;
    justify-content: center;
    justify-content: space-around;

    .footer-col {

      ul {
        list-style: none;

        h6 {
          color: #fff;
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 1.7rem;
        }

        a {
          color: #fff;
          opacity: 80%;
          transition: all .4s;
          text-decoration: none;
          
          &:hover {
            opacity: 100%;
            }

          i {
            transform: rotate(45deg);
            font-weight: 600;
            margin-left: .3rem;
          }

          li {
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  .footer-rigths {
    border-top: 1px solid #878787;
    margin: 0 7rem;
    padding-top: 1.4rem;
    padding-bottom: .3rem;
    opacity: 30%;

    p {
      color: #878787;
      font-size: 14px;
      font-weight: 500;
      opacity: 100%;
    }
  }
} 